<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send mail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css"
        integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            height: 100vh;
            background-color: rgb(3, 3, 62);
            color: #fff;
        }
    </style>
</head>

<body>
    <section class="h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="fs-1 mb-5 text-center">Send Your Email</h1>
                        <div>
                            <form action="/sendmail" method="POST" class="row g-3">
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Email</label>
                                    <input type="email" name="email" class="form-control" id="inputEmail4">
                                </div>
                                <div class="col-md-6">
                                    <label for="myname" class="form-label">Name</label>
                                    <input type="text" name="senderName" class="form-control" id="myname">
                                </div>
                                <div class="col-6">
                                    <label for="inputAddress" class="form-label">Subject</label>
                                    <input type="text" name="subject" class="form-control" id="inputAddress">
                                </div>
                                <div class="col-6">
                                    <label for="inputAddress" class="form-label">Your Message</label>
                                    <input type="text" name="message" class="form-control" id="inputAddress">
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js"
        integrity="sha512-sH8JPhKJUeA9PWk3eOcOl8U+lfZTgtBXD41q6cO/slwxGHCxKcW45K4oPCUhHG7NMB4mbKEddVmPuTXtpbCbFA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>